
/* Body Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #383434;
    background-color: #f4f4f4;
}
/* Header Styles */
header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
}
/*Navigation styles */
.navbar {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}
/*Navigation links styles */
.navbar li {
    margin: 0 15px;
}
.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}
/*Navigation hover styles */
.navbar a:hover {
    color: #ffa500;
}

/* Section Styles */
section {
    padding: 2rem;
    text-align: center;
}
/* Heading 1 Styles */
h1 {
    color: #333;
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
}
/* Paragraph  Styles */
p {
    margin: 0.5rem 0;
    color: #555;
    text-align: center;
}
/* About Me Section */
.about-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #ffa500;
    object-fit: cover;
}
/* Skills Section */
.skills-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
}
.skills-list li {
    background: #ffa500;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: #fff;
}
/* Project Styles */
.project {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 5px;
}
.project h2 {
    color: #cd1616;
}

.project p {
    color: #555;
}
.project img{
    width: 200px;
    height: 200px;
}
/* Contact Section */
.contact-list {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
}
.contact-list li {
    margin: 0.5rem 0;
}
/* Footer Styles */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
