
/* Body Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #383434;
    background-color: #f4f4f4;
}
/* Header Styles */
header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
}
/*Navigation styles */
.navbar {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}
/*Navigation lins styles */
.navbar li {
    margin: 0 15px;
}
.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}